body{
    margin: 0;
    padding: 0;
    background-color: #34495e;
    font-family: sans-serif;
    overflow: auto;
    
}
.box{
    width: 400px;
    padding: 40px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: #191919;
    text-align: center;
    
}
h1{
    color: white;
    font-size: 40px;
    font-weight: 500;
    text-transform: uppercase;
    background: rgb(63,94,251);
background: linear-gradient(120deg, rgba(63,94,251,1) 47%, rgba(255,238,237,1) 96%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition:all ease .005s;
}
h1:hover{
    background: rgb(63,94,251);
background: linear-gradient(120deg, rgba(63,94,251,1) 28%, rgba(251,16,5,1) 96%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; 
}
.box input[type= "text"], .box input[type= "password"]{
    display: block;
    border: 0;
    background-color: transparent;
    text-align: center;
    margin: 20px auto;
    width: 200px;
    border: 2px solid #3498db;
    padding: 14px;
    border-radius: 24px;
    outline: none;
    color: white;
    transition: .25s;    
}

/*for round border or gradient border with radius*/

.box input[type= "text"]:hover, .box input[type= "password"]:hover{
     width: 280px;
    color: #2ecc71;
    border: 2px solid transparent;
background: linear-gradient(120deg, rgba(63,94,251,1) 28%, rgba(212,23,14,1) 96%) border-box;
     -webkit-mask: 
     linear-gradient(120deg, rgba(63,94,251,1) 28%, rgba(212,23,14,1) 96%) padding-box, 
     linear-gradient(120deg, rgba(63,94,251,1) 28%, rgba(212,23,14,1) 96%);
  -webkit-mask-composite: destination-out; 
  mask-composite: exclude;
    
}

/*for round border or gradient border with radius*/

.box input[type= "submit"]{
    
    display: block;
    border: 0;
    background-color: transparent;
    text-align: center;
    margin: 20px auto;
    border: 2px solid #3498db;
    padding: 14px 40px;
    border-radius: 24px;
    outline: none;
    color: white;
    transition: 1s;
    cursor: pointer;
}
.box input[type= "submit"]:hover{
    background-color: rgb(63,94,251);
background-color: linear-gradient(120deg, rgba(63,94,251,1) 28%, rgba(251,16,5,1) 96%);
    border: 2px solid rgb(63,94,251);
    width: 150px;
    font-weight: 700;
}
.created-{
    font-size: 15px;
    position: absolute;
    bottom: 0%;
    background: rgb(63,94,251);
background: linear-gradient(120deg, rgba(63,94,251,1) 28%, rgba(251,16,5,1) 96%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
